# This file is rendered into /etc/config/network inside the OpenWRT template
# First-boot network config:
#   - WAN: DHCP client on {{ openwrt_wan_device }}
#   - LAN: static {{ openwrt_lan_ipaddr }}/{{ openwrt_lan_netmask }} on {{ openwrt_lan_ipaddr }} via br-lan

config interface 'loopback'
        option device 'lo'
        option proto 'static'
        option ipaddr '127.0.0.1'
        option netmask '255.0.0.0'

config globals 'globals'
        option ula_prefix 'auto'

# LAN bridge
config device
        option name 'br-lan'
        option type 'bridge'
        list ports '{{ openwrt_lan_device }}'

config interface 'lan'
        option device 'br-lan'
        option proto 'static'
        option ipaddr '{{ openwrt_lan_ipaddr }}'
        option netmask '{{ openwrt_lan_netmask }}'

# WAN interface (temporarily DHCP; later can be PPPoE)
config interface 'wan'
        option device '{{ openwrt_wan_device }}'
        option proto 'dhcp'
