{
  "proxmox_cluster_name": "{{ proxmox_cluster_name }}",
  "proxmox_node_name": "{{ proxmox_node_name }}",

  "openwrt_template_vmid": {{ proxmox_openwrt_template_vmid }},
  "openwrt_template_node_name": "{{ proxmox_openwrt_template_node_name }}",
  "openwrt_template_name": "{{ proxmox_openwrt_template_name }}",

  "router_vm_vmid": {{ proxmox_router_vm_vmid }},
  "router_vm_name": "{{ proxmox_router_vm_name }}",
  "router_vm_memory_mb": {{ proxmox_router_vm_memory_mb }},
  "router_vm_cores": {{ proxmox_router_vm_cores }},

  "wan_bridge": "{{ proxmox_wan_bridge }}",
  "lan_bridge": "{{ proxmox_lan_bridge }}"
}
