---
- name: Check for enterprise .list file
  ansible.builtin.stat:
    path: /etc/apt/sources.list.d/pve-enterprise.list
  register: pve_enterprise_list
  tags: [pve_repo]

- name: Check for enterprise .sources file
  ansible.builtin.stat:
    path: /etc/apt/sources.list.d/pve-enterprise.sources
  register: pve_enterprise_sources
  tags: [pve_repo]

- name: Check for Ceph enterprise .sources file
  ansible.builtin.stat:
    path: /etc/apt/sources.list.d/ceph.sources
  register: pve_ceph_sources
  tags: [pve_repo]

############################################################
# Disable PVE enterprise repo (.list)
############################################################

- name: Disable Proxmox enterprise repo (.list)
  ansible.builtin.replace:
    path: /etc/apt/sources.list.d/pve-enterprise.list
    regexp: '^(deb\s+)'
    replace: '# \1'
  when: pve_enterprise_list.stat.exists
  tags: [pve_repo]

############################################################
# Disable PVE enterprise repo (.sources)
############################################################

- name: "Ensure `Enabled: no` exists in PVE enterprise .sources file"
  ansible.builtin.lineinfile:
    path: /etc/apt/sources.list.d/pve-enterprise.sources
    regexp: '^Enabled:'
    line: 'Enabled: no'
    insertafter: EOF
  when: pve_enterprise_sources.stat.exists
  tags: [pve_repo]

############################################################
# Disable Ceph enterprise repo (.sources)
############################################################

- name: "Ensure `Enabled: no` exists in Ceph enterprise .sources file"
  ansible.builtin.lineinfile:
    path: /etc/apt/sources.list.d/ceph.sources
    regexp: '^Enabled:'
    line: 'Enabled: no'
    insertafter: EOF
  when: pve_ceph_sources.stat.exists
  tags: [pve_repo]

############################################################
# Add PVE no-subscription repo
############################################################

- name: Ensure Proxmox no-subscription repo is present
  ansible.builtin.apt_repository:
    repo: "deb http://download.proxmox.com/debian/pve {{ pve_debian_codename }} pve-no-subscription"
    filename: "pve-no-subscription"
    state: present
  tags: [pve_repo]

- name: Update apt cache after repo changes
  ansible.builtin.apt:
    update_cache: true
  tags: [pve_repo]
