- name: Restart sshd
  ansible.builtin.service:
    name: ssh
    state: restarted

- name: Restart journald
  ansible.builtin.service:
    name: systemd-journald
    state: restarted

- name: Restart chrony
  ansible.builtin.service:
    name: chrony
    state: restarted

