- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600
  tags: apt_update

- name: Upgrade all packages to latest
  ansible.builtin.apt:
    upgrade: dist
    autoremove: yes
  tags: apt_upgrade

- name: Install base CLI tools
  ansible.builtin.package:
    name:
      - vim
      - htop
      - curl
      - wget
      - git
      - net-tools
      - ethtool
      - ifupdown2
      - iproute2
    state: present
  tags: base_cli_tools

- name: Install diagnostic and helper tools
  ansible.builtin.package:
    name:
      - rsync
      - lsof
      - tcpdump
      - dnsutils
      - bash-completion
    state: present
  tags: diag_helper_tools
